.main-preview-container {
  background-color: #0d4c7b;
margin: 0;
padding: 5vh 10vh 18vh 0 ;
display: flex;
justify-content: center;
gap: 5vh;
}
h1 {
  margin: 0;
}

.hero-Section-flexbox {
  display: flex;
  gap: 15px;
  background-color: #ffffff;
padding: 12px;
}

.hero-Section {
  flex: 1;
}

.hero-Section-side {
flex: 0.70;
}

.side-section-image {
width:100% ;
}

.image-div-side {
  width:100%;
}

.main-image-div {

}

.main-image {
  width: 100%;
}
.image-icon {
width: 8vh;
display: inline-block;
}
.featured-text {

color: rgb(248, 79, 5);
margin: 0;
display: inline-block;
font-size: 2.9vh;
font-weight:550;


}
main {
  margin: 15px;
}
h1 {
  font-size: 6.25vh;
  height: 75.5859px;
  
}
h1, h2 {
  font-weight: 700;

}

.main-text {
 
margin: 0;

}

.main-text, .side-text {
  font-size: 2.50vh;
  display :block;
}

.side-text {
  color: rgb(0, 0, 0);

}

h1, .main-text, h2 {
  color: rgb(255, 255, 255);


line-height: 25.2px;
box-sizing: border-box;
text-size-adjust: 100%;
cursor: pointer;


}

h2 {
  color: #0f66A7;
  font-size: 4.25vh;
  line-height: 37.4px;
  font-weight: 700;
  margin: 0;
}
.featured-div {
  display: flex;
 align-items: center;
 gap: 12px;
}

a {
  color: white;  

}

a:hover {
  text-decoration: underline;  
}

a:visited {
  color: white;  
  text-decoration: underline; 
}

.second-main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;

  padding: 12px;
}

.grid-image-div {
  
}

.grid-image {
  width: 100%;
}


.second-main-grid  img:hover {

}

h3 {
  margin: 0;
  font-size: 3.4vh;
  color: #0f66A7;
  font-weight: 700;
  font-style: normal;
  margin: 3px 0 8px;
  line-height: 25.2px;
}
.featured-text, h3, h1, h2 {
  font-family: "Rajdhani", Helvetica, Arial, sans-serif;
}
.preview-text {
font-size: 2.4vh;
}

.main-text, .side-text, .preview-text, .learn-more-button {
  font-family: "PT Sans", Helvetica, sans-serif;
}

.preview-container {
  background-color: #ffffff;
  padding: 12px;
  transition: box-shadow 0.3s ease; 

}
.learn-more-button {
  background-color: #0f66A7;
  color: #ffffff;
  border: none;
  padding: 9px 10px ;
 
}
.flex {
  display: flex;

align-content: center;
}

.preview-container:hover {
 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6); 
  cursor: pointer;
  opacity: 0.8;
}